<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eogame.other.mdwsw" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- google 支付权限 -->
    <uses-permission android:name="com.android.vending.BILLING" />



    <!--<uses-sdk android:minSdkVersion="15"
        android:targetSdkVersion="26"
        />-->

    <!--   android:name="tw.com.mycard.sdk.libs.PSDKApplication"
            android:name="com.eogame.application.EOApplication"
    -->

    <application

        android:name="tw.com.mycard.sdk.libs.PSDKApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eogame.other.mdwsw.PageDemo"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation|keyboardHidden|screenSize"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
<!--        <activity-->
<!--            android:name="com.eogame.activity.EOAccountActivity"-->
<!--            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@style/EO_Theme_dialog" />-->

<!--        <activity-->
<!--            android:name="com.eogame.activity.EOPayActivity"-->
<!--            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"-->
<!--            android:launchMode="singleTop"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@style/EO_Theme_dialog" />-->
<!--        <activity-->
<!--            android:name="com.eogame.activity.EOUserCenterActivity"-->
<!--            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"-->
<!--            android:launchMode="singleTop"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@style/EO_Theme_dialog" />-->
<!--        <activity-->
<!--            android:name="com.eogame.activity.EOWebViewActivity"-->
<!--            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"-->
<!--            android:launchMode="singleTop"-->
<!--            android:screenOrientation="landscape"-->
<!--            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />-->


        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>


</manifest>